// bower:scss
// endbower
@charset "UTF-8";

@import "reset.scss";

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

li {
  list-style: none;
}

a {
  color: #222;
  text-decoration: none;
}

.common-head {
  height: 64px;
  background: #181041;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 16px;
  li {
  }
}
.task-cell {
  display: flex;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  height: 56px;
  align-items: center;
  padding: 0 16px;
  li {
    &.task-name{
      margin-right: auto;
    }
    &:first-child {
      padding: 0 16px 0 0;
    }
  }
}
.add-task {
  height: 56px;
  background: #293A92;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
  width: 56px;
  border-radius: 56px;
}
